ul {
  list-style: none;
  display: flex;
  background-color: #000;
  /* width: 80%; */
  margin: 0;
  padding: 10px;
  /* border-radius: 10px; */
}

li {
  flex: 1;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.redCls {
  color: #f00;
}

.textCls {
  color: orange;
}

.contentCls {
  color: aqua;
}